@font-face {
  font-family: font1;
  src: url(./font1.woff2);
}
@font-face {
  font-family: font2;
  src: url(./font2.woff2);
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexcolumn($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}
html,
body {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  @include flexcolumn(0rem);
  align-items: center;
  .eventbar {
    background: linear-gradient(124.64deg, #027dfd, #833ef2);
    font-family: font1;
    font-weight: 600;
    color: white;
    padding: 1rem;
    font-size: 0.85rem;
    @include flexCenter;
    width: 100%;
  }
  nav {
    width: 100%;
    background-color: white;
    padding: 1.2rem 2rem;
    @include flexCenter;
    justify-content: space-between;
    .logo {
      img {
        width: 80%;
      }
    }
    .icon {
      i {
        font-size: 1.3rem;
      }
    }
  }
}
header {
  max-width: 2000px;
  margin: auto;
}
html {
  font-size: clamp(14px, 1.25vw, 18px);
}
main section {
  max-width: 2000px;
}
main {
  width: 100%;
  @include flexcolumn(0rem);
  align-items: center;
  .view1 {
    @include flexcolumn(5rem);
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
    .top {
      padding: 2rem 0;
      width: 100%;
      @include flexcolumn(4.5rem);
      justify-content: space-between;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      h1 {
        width: 80%;
        font-family: font1;
        font-weight: 700;
        font-size: 3.2rem;
        color: #0b0b0b;
        text-align: center;
        line-height: 2.8rem;
      }
    }
    .bottom {
      width: 100%;
      p {
        font-family: font1;
        font-size: 2.3rem;
        width: 97%;
        text-align: center;
        font-weight: 400;
        margin-bottom: 2.5rem;
      }
    }
  }
  .view2 {
    width: 100%;
    @include flexcolumn(0rem);
    padding: 4rem 1.5rem;
    .card {
      border-top: 4px solid #e8eaed;
      @include flexcolumn(2.5rem);
      padding: 2rem 0.5rem;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      h2 {
        font-family: font1;
        font-size: 1.9rem;
        font-weight: 700;
        color: #0b0b0b;
      }
      p {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 400;
        color: #3b3b3b;
        width: 95%;
      }
    }
  }
  .view3 {
    width: 100%;
    @include flexcolumn(2rem);
    padding: 3rem 1.5rem;
    .top,
    .bottom {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .bottom {
      @include flexcolumn(1rem);
      h2 {
        font-family: font1;
        font-size: 1.4rem;
        font-weight: 700;
        color: #0b0b0b;
      }
      h1 {
        font-family: font1;
        font-size: 3.5rem;
        font-weight: 900;
        color: #0b0b0b;
      }
      p {
        font-family: font1;
        font-size: 1.2rem;
        font-weight: 400;
        color: #3b3b3b;
        width: 80%;
      }
      .buttons {
        @include flexcolumn(1rem);
        .btn1 {
          width: 60%;
          padding: 0.6rem 1rem;
          background-color: white;
          color: rgb(4, 104, 215);
          font-family: font1;
          font-size: 1.1rem;
          font-weight: 600;
          border: 1px solid rgb(4, 104, 215);
          border-radius: 50px;
        }
        .btn2 {
          width: 70%;
          padding: 0.6rem 1rem;
          background-color: white;
          color: black;
          font-family: font1;
          font-size: 1.1rem;
          font-weight: 600;
          border: none;
          border-radius: 50px;
        }
      }
    }
  }
  .view4 {
    width: 100%;
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
    padding: 3rem 1.5rem;
    @include flexcolumn(2rem);
    .top,
    .bottom {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .bottom {
      @include flexcolumn(1.5rem);
      h2 {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 700;
        color: #0b0b0b;
      }
      h1 {
        font-family: font1;
        font-size: 3.3rem;
        font-weight: 900;
        color: #0b0b0b;
        line-height: 3rem;
      }
      p {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 400;
        color: #3b3b3b;
        width: 90%;
      }
      button {
        width: 55%;
        padding: 0.6rem 0.2rem;
        background-color: rgb(4, 104, 215);
        color: white;
        font-family: font1;
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        border-radius: 50px;
      }
    }
  }
  .view5 {
    width: 100%;
    padding: 3rem 1.5rem;
    @include flexcolumn(2rem);
    align-items: center;
    .top,
    .bottom {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .bottom {
      @include flexcolumn(1.5rem);
      h2 {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 700;
        color: #0b0b0b;
      }
      h1 {
        font-family: font1;
        font-size: 3.3rem;
        font-weight: 900;
        color: #0b0b0b;
      }
      p {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 400;
        color: #3b3b3b;
        width: 90%;
      }
      button {
        width: 40%;
        padding: 0.6rem 0.2rem;
        background-color: rgb(255, 255, 255);
        color: rgb(4, 104, 215);
        font-family: font1;
        font-size: 1rem;
        font-weight: 600;
        border: 1px solid rgb(4, 104, 215);
        border-radius: 50px;
      }
    }
  }
  .view6 {
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
    width: 100%;
    padding: 3rem 1.5rem;
    @include flexcolumn(2rem);
    .top,
    .bottom {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    .bottom {
      @include flexcolumn(1.8rem);
      h2{
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 700;
        color: #0b0b0b;
      }
      h1 {
        font-family: font1;
        font-size: 3.3rem;
        font-weight: 900;
        color: #0b0b0b;
        line-height: 3rem;
      }
      p {
        font-family: font1;
        font-size: 1.3rem;
        font-weight: 400;
        color: #3b3b3b;
        width: 90%;
      }
      button{
        width: 55%;
        padding: 0.7rem 0.1rem;
        background-color: rgb(4, 104, 215);
        color: white;
        font-family: font1;
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        border-radius: 50px;
      }
    }
  }
}
@media (min-width: 1000px) {
  header {
    nav {
      padding: 1.5rem 3.5rem;
      .logo {
        img {
          width: 80%;
        }
      }
      .icon {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
  section.view1 {
    padding: 0rem 2rem;

    .top {
      flex-direction: row-reverse;
      justify-content: space-around;
      padding: 3rem 3.5rem;
      img {
        width: 55%;
      }
      h1 {
        width: 45%;
        font-size: 4.3rem;
        line-height: 4.6rem;
        text-align: left;
        font-weight: 900;
      }
    }
    .bottom {
      @include flexCenter;
      p {
        font-size: 2.13rem;
        width: 73%;
        text-align: center;
        font-weight: 350;
        margin-bottom: 3rem;
      }
    }
  }
  section.view2 {
    flex-direction: row;
    padding: 3rem 3rem;
    justify-content: space-between;
    gap: 2rem;

    .card {
      gap: 2rem;
      img {
        width: 95%;
      }
      h2 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.25rem;
        width: 95%;
      }
    }
  }
  section.view3 {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;

    padding: 3rem 5rem;
    .top,
    .bottom {
      width: 50%;
      padding: 1rem;
    }
    img {
      width: 100%;
    }
    .bottom {
      @include flexcolumn(1rem);
      justify-content: center;
      h1 {
        font-size: 4.1rem;
      }
      p {
        font-size: 1.2rem;
        width: 85%;
        line-height: 1.7rem;
      }
      .buttons {
        flex-direction: row;
        gap: 0.5rem;
        justify-content: space-around;
        .btn1,
        .btn2 {
          font-size: 0.9rem;
          padding: 0.7rem 0.5rem;
        }
      }
    }
  }
  section.view4 {
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem;

    padding: 3rem 5rem;
    .top,
    .bottom {
      width: 50%;
      padding: 1rem;
    }
    img {
      width: 100%;
    }
    .bottom {
      @include flexcolumn(1.5rem);
      justify-content: center;
      h1 {
        font-size: 4rem;
        line-height: 3.5rem;
      }
      p {
        font-size: 1.2rem;
        width: 90%;
        line-height: 1.7rem;
      }
      button {
        width: 40%;
        padding: 0.7rem 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
  section.view5 {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 4rem;

    padding: 3rem 4rem;
    .top,
    .bottom {
      width: 50%;
      padding: 1rem;
    }
    img {
      width: 100%;
    }
    .bottom {
      @include flexcolumn(1.5rem);
      justify-content: center;
      h1 {
        font-size: 4rem;
        line-height: 3.5rem;
      }
      p {
        font-size: 1.3rem;
        width: 90%;
        line-height: 1.7rem;
      }
      button {
        width: 28%;
        padding: 0.7rem 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
  section.view6{
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;

    padding: 2.5rem 4.5rem;
    .top,
    .bottom {
      width: 50%;
      padding: 1rem;
    }
    img {
      width: 100%;
    }
    .top {
      margin-right: 2rem;
    }
    .bottom {
      @include flexcolumn(1.5rem);
      justify-content: center;
      h1 {
        font-size: 3.7rem;
        line-height: 3.5rem;
        width: 100%; 
      }
      p {
        font-size: 1.2rem;
        width: 90%;
        line-height: 1.7rem;
      }
      button{
        width: 38%;
        padding: 0.7rem 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}
